<a href="https://colab.research.google.com/github/jeonghunyoon/colab-notebooks/blob/main/amazon_dataset.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

- Papers
  - An Efficient Neighborhood-based Interaction Model for Recommendation on Heterogeneous Graph
- Repository
  - https://nijianmo.github.io/amazon/index.html
  - https://www.kaggle.com/snap/amazon-fine-food-reviews

In [ ]:
import os
import json
import gzip
import pandas as pd
from urllib.request import urlopen

In [ ]:
!wget http://deepyeti.ucsd.edu/jianmo/amazon/categoryFilesSmall/AMAZON_FASHION_5.json.gz

--2021-03-05 06:37:11--  http://deepyeti.ucsd.edu/jianmo/amazon/categoryFilesSmall/AMAZON_FASHION_5.json.gz
Resolving deepyeti.ucsd.edu (deepyeti.ucsd.edu)... 169.228.63.50
Connecting to deepyeti.ucsd.edu (deepyeti.ucsd.edu)|169.228.63.50|:80... connected.
HTTP request sent, awaiting response... 200 OK
Length: 287013 (280K) [application/octet-stream]
Saving to: ‘AMAZON_FASHION_5.json.gz’

AMAZON_FASHION_5.js 100%[===================>] 280.29K   465KB/s    in 0.6s

2021-03-05 06:37:12 (465 KB/s) - ‘AMAZON_FASHION_5.json.gz’ saved [287013/287013]

In [ ]:
os.listdir('.')

['.config',
 'meta_Computers.json.gz',
 'A8hBfPxKkKGFCP238',
 'AMAZON_FASHION_5.json.gz',
 'sample_data']

In [ ]:
data = []
with gzip.open('AMAZON_FASHION_5.json.gz') as f:
    for l in f:
        data.append(json.loads(l.strip()))

In [ ]:
print(len(data))
print(data[0])

3176
{'overall': 5.0, 'verified': True, 'reviewTime': '09 4, 2015', 'reviewerID': 'ALJ66O1Y6SLHA', 'asin': 'B000K2PJ4K', 'style': {'Size:': ' Big Boys', 'Color:': ' Blue/Orange'}, 'reviewerName': 'Tonya B.', 'reviewText': 'Great product and price!', 'summary': 'Five Stars', 'unixReviewTime': 1441324800}

In [ ]:
# From https://nijianmo.github.io/amazon/index.html

def parse(path):
    g = gzip.open(path, 'rb')
    for l in g:
        yield json.loads(l)

def getDF(path):
    i = 0
    df = {}
    for d in parse(path):
        df[i] = d
        i += 1
    return pd.DataFrame.from_dict(df, orient='index')

df = getDF('AMAZON_FASHION_5.json.gz')

In [ ]:
df.head()

   overall  verified  reviewTime  ... unixReviewTime vote image
0      5.0      True  09 4, 2015  ...     1441324800  NaN   NaN
1      5.0      True  09 4, 2015  ...     1441324800  NaN   NaN
2      5.0      True  09 4, 2015  ...     1441324800  NaN   NaN
3      5.0      True  09 4, 2015  ...     1441324800  NaN   NaN
4      5.0      True  09 4, 2015  ...     1441324800  NaN   NaN

[5 rows x 12 columns]

In [ ]:
df[['overall', 'reviewerID', 'asin']].head()

   overall     reviewerID        asin
0      5.0  ALJ66O1Y6SLHA  B000K2PJ4K
1      5.0  ALJ66O1Y6SLHA  B000K2PJ4K
2      5.0  ALJ66O1Y6SLHA  B000K2PJ4K
3      5.0  ALJ66O1Y6SLHA  B000K2PJ4K
4      5.0  ALJ66O1Y6SLHA  B000K2PJ4K

In [ ]:
!wget http://deepyeti.ucsd.edu/jianmo/amazon/categoryFilesSmall/AMAZON_FASHION.csv

--2021-03-05 06:52:05--  http://deepyeti.ucsd.edu/jianmo/amazon/categoryFilesSmall/AMAZON_FASHION.csv
Resolving deepyeti.ucsd.edu (deepyeti.ucsd.edu)... 169.228.63.50
Connecting to deepyeti.ucsd.edu (deepyeti.ucsd.edu)|169.228.63.50|:80... connected.
HTTP request sent, awaiting response... 200 OK
Length: 36881609 (35M) [application/octet-stream]
Saving to: ‘AMAZON_FASHION.csv’

AMAZON_FASHION.csv  100%[===================>]  35.17M  12.2MB/s    in 2.9s

2021-03-05 06:52:08 (12.2 MB/s) - ‘AMAZON_FASHION.csv’ saved [36881609/36881609]

In [ ]:
os.listdir('.')

['.config',
 'AMAZON_FASHION.csv',
 'meta_Computers.json.gz',
 'A8hBfPxKkKGFCP238',
 'AMAZON_FASHION_5.json.gz',
 'sample_data']

In [ ]:
df2 = pd.read_csv('AMAZON_FASHION.csv', header=None)
df2.columns = ['item', 'user', 'rating', 'timestamp']

In [ ]:
df2.head()

         item            user  rating   timestamp
0  7106116521  A1D4G1SNUZWQOT     5.0  1413763200
1  7106116521  A3DDWDH9PX2YX2     2.0  1411862400
2  7106116521  A2MWC41EW7XL15     4.0  1408924800
3  7106116521  A2UH2QQ275NV45     2.0  1408838400
4  7106116521   A89F3LQADZBS5     3.0  1406419200